<%- include ('partials/header.ejs') %>

<h2>Enter the game you played today:</h2>
<form method="post" action="/add-game-session">
    <input type="text" name="Name_Of_Game_Wanted_To_Play" value="" placeholder="enter the game name"/>
    <input type="submit" value="Play Game"/>
</form>
TODO: Make a form for adding a game-playing session <br></br>
what game was played and current date?

<br></br>
<a href="/"><button>Back</button></a>

<%- include ('partials/footer.ejs') %>
