<%- include ('partials/header.ejs') %>

<h1>hi</h1>
TODO: Make a form for adding a game-playing session <br></br>
what game was played and current date?

<br></br>
<a href="/"><button>Back</button></a>

<%- include ('partials/footer.ejs') %>
