<%- include ('partials/header.ejs') %>

<h3>Enter the info for your new game!</h3>

<form method="post" action="localhost:3000/add_game_post">
    <label for="">
        <input type="text" name="Game_Name" value="" placeholder="add the game name">
    </label>
    <button>Enter Info</button>
</form>
<br></br>
<a href="/"><button>Back</button></a>

<%- include ('partials/footer.ejs') %>
