<%- include ('partials/header.ejs') %>

<h3>Enter the info for your new game!</h3>

<form method="post" action="/add-game">
    <input type="text" name="Game_Name" value="" placeholder="add the game name"/>
    <input type="submit" value="Add Game"/>
</form>

<br></br>
<a href="/"><button>Back</button></a>

<%- include ('partials/footer.ejs') %>
